# See http://help.github.com/ignore-files/ for more about ignoring files.
# compiled output
dist
tmp
# dependencies
node_modules
# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*




# misc
.sass-cache
env
conf
collection.json
connect.lock
/coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
test.log
typings
# System Files
.DS_Store
Thumbs.db
.env
scripts
docker
docs
.gitignore
.gitattributes

.github
.editorconfig
schema.gql
docker-compose*.yml
.cache
*.txt
debug.json
server.json
.eslintcache
.tools-versions

nginx-local.conf
*.svg
LICENSE
*.md
.snyk
.swcrc
.git
.husky
makefile
justfile
test
