# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# The JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore

[Makefile]
indent_size = 8
indent_style = tab

[justfile]
indent_style = tab
indent_size = 8

[docs/**.txt]
max_line_length = 80

[*.yml]
indent_size = 2
