# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
quote_type = double

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 2
insert_final_newline = ignore

[Makefile]
indent_style = tab
indent_size = 8

[docs/**.txt]
max_line_length = 80

[*.yml]
indent_size = 2
