version: "3.9"
services:
    nestify:
        container_name: nestify
        env_file: "env/.env.${ENV}"
        build:
            context: .
            dockerfile: ./docker/prod.Dockerfile
        image: nestify
        depends_on:
            - traefik
            - redis
            - rabbitmq
        restart: unless-stopped
        command: "npm run start"
        labels:
            - traefik.enable=true
            - traefik.http.routers.nestify.rule=Host(`api.localhost`)
            - traefik.http.services.nestify.loadbalancer.server.port=8000
            - "traefik.http.middlewares.test-ratelimit.ratelimit.average=100"
            - "traefik.http.middlewares.test-ratelimit.ratelimit.burst=50"
            - "traefik.http.middlewares.test-ratelimit.ratelimit.period=1m"
            - "traefik.http.middlewares.traefik-headers.headers.framedeny=true"
            - "traefik.http.middlewares.traefik-headers.headers.browserxssfilter=true"
            - "traefik.http.middlewares.traefik-headers.headers.contentTypeNosniff=true"
            - "traefik.http.middlewares.traefik-headers.headers.permissionsPolicy=camera 'none'; geolocation 'none'; microphone 'none'; payment 'none'; usb 'none'; vr 'none';"

        stdin_open: true
        tty: true
        networks:
            - nestify-network
        volumes:
            - .:/usr/src/app
            - /usr/src/app/node_modules
    traefik:
        image: "traefik:v2.9.8"
        container_name: traefik
        command:
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            - "--accesslog"
            - "--log"
            - "--api"
            - "--api.insecure=true"
        labels:
            - traefik.enable=true
        networks:
            - nestify-network
        ports:
            - "443:443"
            - "80:80"
            - "8080:8080"
        volumes:
            - "./letsencrypt:/letsencrypt"
            - "/var/run/docker.sock:/var/run/docker.sock:ro"
    redis:
        image: "redis:7.0.8-alpine"
        restart: always
        depends_on:
            - traefik
        ports:
            - "6379"
        networks:
            - nestify-network
        command: "redis-server --loglevel warning --requirepass ${PASSWORD}"
        volumes:
            - "redis-data:/data"
    rabbitmq:
        container_name: rabbitmq
        image: "rabbitmq:3.11.10-management-alpine"
        networks:
            - nestify-network
        depends_on:
            - traefik
        environment:
            - RABBITMQ_DEFAULT_USER=nestify
            - "RABBITMQ_DEFAULT_PASS=${PASSWORD}"
        ports:
            - "5672:5672"
            - "15672:15672"
        volumes:
            - "rabbitmq-data:/var/lib/rabbitmq/mnesia/"
    db:
        image: "postgres:15.2-alpine"
        restart: unless-stopped
        volumes:
            - "postgres_data:/var/lib/postgresql/data/"
        depends_on:
            - traefik
        environment:
            - "POSTGRES_USER=${DB_USERNAME}"
            - "POSTGRES_PASSWORD=${DB_PASSWORD}"
            - "POSTGRES_DB=${DB_DATABASE}"
        networks:
            - nestify-network
    pgadmin:
        container_name: pgadmin4_container
        image: "dpage/pgadmin4:6.20"
        restart: unless-stopped
        environment:
            - PGADMIN_DEFAULT_EMAIL=admin@admin.com
            - PGADMIN_DEFAULT_PASSWORDsecret
            - PGADMIN_LISTEN_PORT=80
        ports:
            - "8090:80"
        volumes:
            - "pgadmin-data:/var/lib/pgadmin"
        depends_on:
            - traefik
        networks:
            - nestify-network
volumes:
    redis-data:
    rabbitmq-data:
    postgres_data:
    pgadmin-data:

networks:
    nestify-network:
        name: nestify-network
