
# Application (development, production)
NODE_ENV=development
APP_PORT=8000


# Jwt stuff
JWT_SECRET=SECRET!@
JWT_ACCESS_EXPIRY=30d
JWT_REFRESH_EXPIRY=86400


#Database (sqlite)
DB_HOST: localhost
DB_PORT: 5432
DB_USERNAME: postgres
DB_PASSWORD: mysecretpassword
DB_DATABASE: postgres

#Redis

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_TTL=600

#Mail

MAIL_USER=gashgash
MAIL_PASSWORD=fashags
MAIL_HOST=mandrill
MAIL_PORT=2131